/* Page background and text */
body {
    background-color: #FAF0E6;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh;
}

/* Form styles */
form {
    margin: 20px;
}

input, button {
    background-color: white;
    padding: 10px;
    margin: 5px;
}

/* Error message */
.error {
    color: red;
    margin-top: 20px;
}

/* Forecast result block */
.result {
    display: block;
    background-color: #008B8B;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    margin: 20px auto;
    width: fit-content;
    font-weight: bold;
    font-size: 18px;
}

/* Header block */
.header-block {
    display: inline-block;
    background-color: #008B8B;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    margin-top: 30px;
}

/* Table styling */
table {
    border-collapse: separate;
    border-spacing: 5px 8px;
    margin: 0 auto;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    background-color: #f0f8ff;
    border-radius: 8px;
}

th {
    background-color: #008B8B;
    color: white;
}

tr {
    margin-bottom: 10px;
}
