# Ignore virtual environment
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore logs and temp files
*.log
*.tmp
*.bak

# Ignore git and OS files
.git/
.gitignore
.DS_Store
Thumbs.db

# Ignore build outputs
build/
dist/

